.page {
    &-cover {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        background-blend-mode: multiply;
        background-color: grey;
        height: 90vh;

        &-content {
            font-family: 'Roboto Mono', monospace;
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
                font-size: 15px;
                color: #f73859;
                text-transform: uppercase;
                transition: all .2s;
                &:hover {
                    color: darken(#f73859, 20%);
                    text-decoration: none;
                }
            }
        }

        &-caption {
            font-size: 15px;
            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
        }

        &-title {
            font-family: "Cormorant Garamond", serif;
            font-size: 50px;
            color: white;
            text-transform: uppercase;
            line-height: 1.1;
            padding: 5px 0 15px 0;
        }
    }
}
